body h1 {
  text-align: center;
  background-color:#8FBC8F;
}

#title {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
  width: auto;
  border-radius: 20px;
  box-shadow: 6px 6px 10px grey;
  background-color: whitesmoke;
}

#text {
  margin-left: 25%;
  margin-right:25%;
  width: auto;
  border-radius: 10px;
  box-shadow: 6px 6px 10px #7B68EE;
  background-color: #FF6600;
  height: 100px;
}

#heading {
  height: 130;
  width: 100;
}

body {
  background-color: #000000;
}
